.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;
}
.fx-background-color {
    -fx-background-color: red;
}
.chart-content {
    -fx-padding: 30px;

}
.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
}